<mat-progress-bar class="top-progress" mode="indeterminate" color="accent" *ngIf="processing"></mat-progress-bar>

<div class="main-cont">

  <div fxLayout="row">
    <mat-icon class="little-down">category</mat-icon>
    <h1 class="mat-h1">Ecografías</h1>
  </div>

  <h2 class="mat-h2">Filtrar</h2>
  <mat-form-field>
    <mat-label>Inicio</mat-label>
    <input type="date" matInput [(ngModel)]="start">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Fin</mat-label>
    <input type="date" matInput [(ngModel)]="end">
  </mat-form-field>
  <button mat-button color="accent" (click)="searchEcos()">Buscar</button>
  <br>
  <mat-form-field>
    <mat-label>Ecografista</mat-label>
    <input type="text" matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="ecograf">
  </mat-form-field>

  <button style="float: right;" mat-flat-button color="primary" (click)="router.navigate(['/ecografia/crear'])">Nueva
    Ecografía</button>

  <table mat-table class="full-width-table mat-elevation-z8" [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="ecogname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ecografista</th>
      <td mat-cell *matCellDef="let row">{{row.ecogname}} {{row.ecogsurname}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="ecogsurname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Paciente</th>
      <td mat-cell *matCellDef="let row">{{row.patname}} {{row.patsurname}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef><span *ngIf="role == '1' || role == '4'">Precio</span></th>
      <td mat-cell *matCellDef="let row"><span *ngIf="role == '1' || role == '4'">{{row.price}}</span></td>
      <td mat-footer-cell *matFooterCellDef><span *ngIf="role == '1' || role == '4'"><strong>{{calcPrecio()}}</strong></span></td>
    </ng-container>

    <ng-container matColumnDef="econame">
      <th mat-header-cell *matHeaderCellDef>Ecografias</th>
      <td mat-cell *matCellDef="let row">{{row.econame}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="eco_price">
      <th mat-header-cell *matHeaderCellDef><span *ngIf="role == '1' || role == '6'">(valor)Ecografista</span></th>
      <td mat-cell *matCellDef="let row"><span *ngIf="role == '1' || role == '6'">{{row.eco_price}}</span></td>
      <td mat-footer-cell *matFooterCellDef> <span *ngIf="role == '1' || role == '6'"><strong>{{calcEco()}}</strong></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="cmp_price">
      <th mat-header-cell *matHeaderCellDef><span *ngIf="role == '1'">(valor)CMP</span></th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="role == '1'">{{row.price - row.eco_price}}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <span *ngIf="role == '1'"><strong>{{calcCmp()}}</strong></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span *ngIf="!prefact && !searching && role == '4'">Prefacturar</span></th>
      <td mat-cell *matCellDef="let row">
        <button [disabled]="processing" mat-flat-button color="primary" *ngIf="!prefact && !searching && role == '4'" (click)="prefacturar(row)">Prefacturar</button>
        &nbsp;
        <button [disabled]="processing" mat-flat-button color="accent" *ngIf="!prefact && !searching && role == '4'" (click)="revoke(row)">Descartar</button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="print">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Imprimir</th>
      <td mat-cell *matCellDef="let row">
        <button [disabled]="processing" mat-flat-button color="primary" (click)="printEco(row.id)">Imprimir</button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 25, 50, 100]">
  </mat-paginator>
</div>