.checkItem{
  padding: 3px;
  justify-content: space-between;
}
.checkCont{
  margin:10px;
}
.full-width-table {
  width: 100%;
}
.tablerow:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}